{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/style.css' %} ">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <title>Asthmart</title>  
</head>
<body>
    <div class="parallax1">
        <nav>
            <div class="logo">
                <h4>Asthmart</h4>
            </div>
            <ul class = "nav-links">
                <li><a href ="test.html">Home</a></li>
                <li><a href ="#">Product</a></li>
                <li><a href ="#">Contact us</a></li>
                <li><a href ="#">Analytics</a></li>
            </ul>
            <div class="burger">
                <div class= "line1"></div>
                <div class= "line2"></div>
                <div class= "line3"></div>
                <div class= "line4"></div>
            </div>
        </nav>
        <div class="notes">
            <h1 class="heading-1">Control your asthma<br>with Asthmart smart inhaler</h1>
            <p class="subhead-1">Better life with asthmart.</p>
        </div>
        <div class="container">
            <div class="avatar">
                <img class="inhalerImg" src="{% static 'images/inhalator.png' %}" alt="inhalator" />
            </div>
        </div>
    </div>
    <section>
        <div class="col">
            <div class="uphead_1">Asthmart</div>
            <div class="line_up"></div>
            <h2 class="heading-6">A smart sensor that will make your asthma inhaler a source of unique information,thus, improving the life of asthmatics.</h2>
            <div class="two-col">
                <div class="line_up"></div>
                <h2 class="heading-6">1. Monitor your asthma</h2>
                <div class="para-1">
                    Asthmart allows you to monitor your asthma and informs you when the  dosage of the inhaler is nearly finished.
                </div>
            </div>
            <div class="two-col">
                <img src="{% static 'images/report.jpg' %}" alt="Inhaler" width="500" height= "540">
            </div>
            <div class="two-col">
                <img src="{% static 'images/map.jpg' %}" alt="Inhaler" width="500" height= "340">
                <div class="line_up"></div>
                <h2 class="heading-6">3. Analyze your surrounding</h2>
                <div class="para-1">
                    Asthmart contains a sensor that informs if the environmental conditions are favorable or not for asthmatics in a specific area.
                </div>
            </div>
            <div class="two-col">
                <div class="line_up"></div>
                <h2 class="heading-6">2. Localise your inhaler</h2>
                <div class="para-1">
                    Asthmart allows you to localise your inhaler using GPS in case of loss and makes use of a sound sensor to find it easily.
                </div>
            </div>
            <div class="one-col">
                <img src="{% static 'images/shot.png' %}" alt="Inhaler" width="500" height= "740" >
            </div>
            
        </div>
    </section>

    <div class="parallax2">
        <div class="heading-sm">
            Fire works
        </div>
    </div>

    <section class="dark">
        <h2>How parallax works</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a 
            page when looking at its layout. 
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
            as opposed to using 'Content here, content here', 
            making it look like readable English. 
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, 
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
            Various versions have evolved over the years, 
            sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </section>

    <div class="parallax3">

    </div>

    <div class="dark">
        <h3>Fixed background scrolling</h3>
        <div class="two-col">
            <p>There are many variations of passages of Lorem Ipsum available, 
                but the majority have suffered alteration in some form, by injected humour,
                or randomised words which don't look even slightly believable. 
                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
                embarrassing hidden in the middle of text.
                 All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                 making this the first true generator on the Internet. 
                 It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, 
                 to generate Lorem Ipsum which looks reasonable. 
                 The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        </div>
        <div class="two-col">
            <p>There are many variations of passages of Lorem Ipsum available, 
            but the majority have suffered alteration in some form, by injected humour,
            or randomised words which don't look even slightly believable. 
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
            embarrassing hidden in the middle of text.
             All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
             making this the first true generator on the Internet. 
             It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, 
             to generate Lorem Ipsum which looks reasonable. 
             The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        </div>
    </div>

    <div class="parallax4">

    </div>
    <script src="{% static 'js/navbar.js' %}"></script>

</body>
</html>
